.posts {
    gap: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
        grid-template-columns: 1fr 1fr;
    }

    @media only screen and (max-device-width: 375px) {
        grid-template-columns: 1fr;
    }
}

.wrapper {
    margin: 3rem 1rem;

    .header {
        text-align: center;
    }
    .header1 {
        margin: 0;
        font-size: 1.1rem;
        font-weight: 300;
        letter-spacing: 0.2px;
        text-transform: uppercase;
    }
    .header2 {
        margin-top: 0.3rem;
        font-size: 1.4rem;
        font-weight: 500;
    }
  

    h2 {
        color: black;
        margin-top: 0;
    }
    p {
        color: #867670;
    }
    .preview {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 0.95rem;
        font-weight: 300;
    }
    .title {
        margin-top: 0;
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }
    .intro {
        line-height: 1.5;
    }
    .info {
        font-weight: 300;
    }
    .date {
        font-size: 0.85rem;
    }
    .tags {
        position: absolute;
        bottom: 5px;
        left: 5px;
    }
}
