{
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier"],
    "globals": {
        "document": "readonly",
        "window": "readonly",
        "require": "readonly"
    },
    "rules": {
        "no-console": 2,
        "import/no-unresolved": 0,
        "import/prefer-default-export": 0,
        "react/display-name": 0,
        "react/prop-types": 0,
        "react/jsx-indent": ["error", 4],
        "indent": ["error", 4],
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "es5",
                "singleQuote": true,
                "printWidth": 120,
                "tabWidth": 4
            }
        ]
    }
}
