{
  "extends": ["airbnb"],
  "rules": {
    "no-console": 2,
    "import/no-unresolved": 0,
    "react/display-name": 0,
    "react/prop-types": 0,
    "react/jsx-indent": 4,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 120,
        "tabWidth": 4
      }
    ]
  }
}