.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    h1 {
        color: var(--clr-gray);
        font-size: 2rem;
        font-weight: bold;

        i {
            font-size: 1rem;
            color: var(--clr-light);
        }
    }
}

.navList {
    display: flex;
    align-items: center;
    gap: 3rem;

    a {
        color: var(--clr-gray);
        text-decoration: none;
    }

    &:visited {
        color: var(--clr-gray);
    }
}
