.header {
    display: flex;
    padding: 1.5rem 0;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    h1 {
        font-family: monospace;
        font-size: 1rem;
        font-weight: 500;
        color: #fff;
        letter-spacing: 0.2rem;
    }
    span {
        color: #8b969c;
        font-size: 1rem;
        font-style: italic;
    }
}

.navLinks {
    a {
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
        @media (max-width: 960px) {
            color: #587686;
        }
    }
    align-items: center;
    display: flex;
    @media (max-width: 960px) {
        display: none;
    }
    a {
        margin-right: 1rem;
        &:last-child {
            margin-right: unset;
        }
    }
}
