.list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    color: var(--clr-gray-100);
    a {
        color: var(--clr-gray-100);
        text-decoration: none;
        transition: all .2s ease-in-out;
        &:hover {
            color: var(--clr-white);
            transform: scale(1.1);
        }
    }


    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
        justify-content: center;
    }
}

.icon {
    font-size: 3rem;
}
