.wrapper {

    .grid{
        grid-auto-rows: 1fr;
    }
   

    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
        flex-direction: column;
    }
    .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 150px;
    }

    h1 {
        margin: 1px 0;
        font-size: 1.1rem;
        margin-top: 1rem;
        text-align: center;
    }

    h2 {
        font-size: 0.9rem;
        color: gray;
    }
}
