.intro {
    position: relative;
    padding-bottom: 8rem;
    background-size: contain;
    background-position: right top;
    background-repeat: no-repeat;
    background: radial-gradient(
        55.36% 221.46% at 23.59% 28.54%,
        var(--clr-theme-light) 1.6%,
        var(--clr-theme-dark) 100%
    );
    z-index: 100;

    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
        padding-bottom: 0;
    }
}

.intro-wrapper {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.content {
    flex: 2;

    @media (max-width: 960px) {
        width: 100%;
        margin-bottom: 2rem;
    }

    h3{
        text-transform: uppercase;
        color: var(--clr-white);
        font-size: .9rem;
        letter-spacing: 2px;
    }

    h1 {
        margin-bottom: 1rem;
        font-size: 3rem;
        color: var(--clr-white);
        animation: slideFromBottom 1s ease-in;

        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
            font-size: 1.8rem;
        }
    }

    p {
        color: var(--clr-gray-100);
        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
            font-size: .8rem;
        }
    }
}

.wave {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    height: 8vw;
    margin-top: 0;
    padding-top: 0;
    background-image: url(assets/images/waves-bottom.svg);
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
