.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svgBackground {
    animation: rotate 30s linear infinite;
    position: absolute;
    margin: 5px;
}

.content {
    position: absolute;
    padding: 20px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
