@use 'reset.scss';
@use 'variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Lobster&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Outfit:wght@300;400;500;600;700&display=swap');


body {
    /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    // font-family: Roboto, system-ui, sans-serif;
    font-family: Inter, sans-serif;
    padding: 0;
    margin: 0;
}

h1,
h2,
strong {
    color: #0d0c22;
    line-height: 20px;
    font-family: 'Inter';
}

label {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.container {
    // equivalent max-w-screen-xl mx-auto
    max-width: 1200px;
    margin: 0 auto;
}

a {
    cursor: pointer;

}

img,
video,
iframe {
    .dark & {
        filter: brightness(0.7);

        &:hover{
            filter: brightness(1.1);
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}
