@import 'reset.scss';
@import 'variables.scss';
@import 'utils.scss';
@import 'animations.scss';
@import 'components.scss';

html {
    font-family: var(--ff-serif);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    min-height: 100vh;
    background-color: var(--clr-theme-background);
}
