@import url('reset.scss');
@import url('variables.css');
@import url('utils.scss');
@import url('animations.scss');
@import url('components.scss');

html {
    font-family: var(--ff-serif);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    min-height: 100vh;
}
