.button {
    background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
    border-radius: 14px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 11px 26px 11px 26px;
}

.button:hover {
    background: white;
    cursor: pointer;
    border: 1px solid var(--orange);
    color: var(--orange);
}

.card {
    background-color: var(--clr-white);
    border-radius: 0.5rem;
    box-shadow: 0 1px 5px rgb(15 31 44 / 25%);
    padding: 20px;
    margin: 10px;
    color: var(--clr-theme-light);
    transition: transform 0.2s ease-in;

    &:hover {
        transform: scale(1.01);
        box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
    }

    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
        padding: 10px;
    }
}
