:root {
    color-scheme: dark light; // we support both
}

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light; // Inform to browser.
        --clr-theme-background: #ffffff;
        --clr-theme-dark: #18616d;
        --clr-theme-light: #037c8f;
        --clr-theme-dark-extra: #055a68;
        --clr-theme-text: slategray;
        --clr-theme-text-light: gray;
        --clr-theme-text-all: #000000;
        --clr-theme-icon: #055a68;
        --clr-light: 231 77% 90%;
        --clr-white: #ffffff;
        --clr-theme-card: #ffffff;
        --clr-theme-card-hover: #e7e7e9;
        --clr-yellow: #f5c32c;
        --clr-orange: #fca61f;
        --clr-black: #242d49;
        --clr-gray: #788097;
        --clr-gray-100: #d7d8db;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark; // Inform to browser.
        --clr-theme-background: #0c161d;
        --clr-theme-dark: #0a161f;
        --clr-theme-light: #085087;
        --clr-theme-dark-extra: #055a68;
        --clr-theme-text: #ffffff;
        --clr-theme-text-light: #d5d7d9;
        --clr-theme-text-all: #9cb6c9;
        --clr-theme-card: #26405f;
        --clr-theme-card-hover: #404d5e;
        --clr-theme-icon: #d5d7d9;
        --clr-light: 231 77% 90%;
        --clr-white: #ffffff;

        --clr-yellow: #f5c32c;
        --clr-orange: #fca61f;
        --clr-black: #242d49;
        --clr-gray: #788097;
        --clr-gray-100: #d7d8db;
    }
}

:root {
    /* font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font-families */
    --ff-serif: 'Roboto', Helvetica, sans-serif;
    --ff-sans-cond: 'Barlow Condensed', sans-serif;
    --ff-sans-normal: 'Barlow', sans-serif;
}
