:root {
    // color-scheme: dark light; // we support both
    color-scheme: light; // Inform to browser.
    --bg-800: white;
    --bg-600: white;

    --clr-theme-background: #ffffff;
    --clr-theme-dark: #18616d;
    --clr-theme-light: #037c8f;
    --clr-theme-dark-extra: #055a68;
    --clr-theme-text: slategray;
    --clr-theme-text-light: gray;
    --clr-theme-text-all: #000000;
    --clr-theme-icon: #055a68;
    --clr-light: 231 77% 90%;
    --clr-white: #ffffff;
    --clr-theme-card: #ffffff;
    --clr-theme-card-hover: #e7e7e9;
    --clr-yellow: #f5c32c;
    --clr-orange: #fca61f;
    --clr-black: #242d49;
    --clr-gray: #788097;
    --clr-gray-100: #d7d8db;
}

.dark {
    color-scheme: dark; // Inform to browser.
    --bg-800: hsla(229, 47%, 17%, 1);
    --bg-600: hsla(229, 36%, 39%, 1);

    --clr-theme-background: #ffffff;
    --clr-theme-dark: hsla(229, 47%, 17%, 1);
    --clr-theme-light: hsla(229, 36%, 39%, 1);
    --clr-theme-dark-extra: #055a68;
    --clr-theme-text: slategray;
    --clr-theme-text-light: gray;
    --clr-theme-text-all: #000000;
    --clr-theme-icon: #055a68;
    --clr-light: 231 77% 90%;
    --clr-white: #ffffff;
    --clr-theme-card: #ffffff;
    --clr-theme-card-hover: #e7e7e9;
    --clr-yellow: #f5c32c;
    --clr-orange: #fca61f;
    --clr-black: #242d49;
    --clr-gray: #788097;
    --clr-gray-100: #d7d8db;

    --clr-primary-800: hsla(229, 47%, 17%, 1);
}



// }

// :root body.dark-theme {
//     color-scheme: light; // Inform to browser.
//     --clr-theme-background: #ffffff;
//     --clr-theme-dark: #18616d;
//     --clr-theme-light: #037c8f;
//     --clr-theme-dark-extra: #055a68;
//     --clr-theme-text: slategray;
//     --clr-theme-text-light: gray;
//     --clr-theme-text-all: #000000;
//     --clr-theme-icon: #055a68;
//     --clr-light: 231 77% 90%;
//     --clr-white: #ffffff;
//     --clr-theme-card: #ffffff;
//     --clr-theme-card-hover: #e7e7e9;
//     --clr-yellow: #f5c32c;
//     --clr-orange: #fca61f;
//     --clr-black: #242d49;
//     --clr-gray: #788097;
//     --clr-gray-100: #d7d8db;
// }

:root {
    /* font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font-families */
    --ff-serif: 'Roboto', Helvetica, sans-serif;
    --ff-sans-cond: 'Barlow Condensed', sans-serif;
    --ff-sans-normal: 'Barlow', sans-serif;
}
