.avatar {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 220px;
        border: 0.9rem solid hsla(0, 0%, 100%, 40%);
        border-radius: 300px;
        margin: 0;
    }

    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
        img {
            border: 4px solid hsla(0, 0%, 100%, 100%);
        }
    }
}
